%script(type="text/javascript")
  upload.init({upload_id: #{upload_id.to_json}});

.container
  .row
    .page-header
      %h1 
        File Uploader
        %small There's some progress
  .row  
    %form(action="/upload?#{upload_id}" target="upload" method="post" enctype="multipart/form-data")
      %fieldset
        %legend Please choose a file to upload
        .clearfix
          %label(for="fileInput") File Input
          .input
            %input.input-file#fileInput(type="file" name="fileInput")
            .progress-bar.blue(style="display: none;")
              %span(style="width: 0")
            #success(style="display: none;")              
        %noscript            
          .actions
            %input.btn.primary(type="submit" value="Save")            

    %iframe(name="upload"   width="0" height="0" frameborder="0")
    %iframe(name="progress" width="0" height="0" frameborder="0")

  .row
    %form(action="/description" method="post")
      %fieldset
        %legend Enter some text
        .clearfix
          %label(for="description") Description
          .input
            %textarea.xxlarge#description(rows="3" name="description")
          .actions
            %input.btn.primary(type="submit" value="Save")            
