%script(type="text/javascript")
  upload.init({upload_id: #{upload_id.to_json}});

.container
  .row
    .page-header
      %h1 Upstreamer
  .row  
    .well.form-horizontal
      %form(action="/upload?upload_id=#{upload_id}" target="upload" method="post" enctype="multipart/form-data")
        .control-group
          %label.control-label(for="file") File for upload
          .controls
            %input#file(type="file" name="file")
            .progress-bar.blue.stripes.animated(style="display: none;")
              %span(style="width: 0;")
            %span.help-inline#success(style="display: none;")              

      %form(action="/submit" method="post" id="description_form")
        %fieldset
          .control-group
            %label.control-label(for="description") Description
            .controls  
              %input(type="hidden" name="upload_id" value=upload_id)
              %input(type="hidden" name="url" value="")
              %input(type="hidden" name="original_filename" value="")
              %textarea.input-xxlarge#description(rows="3" name="description")
        .form-actions  
          %button.btn.btn-primary(type="submit") Save

%iframe(name="upload"   width="0" height="0" frameborder="0")
%iframe(name="progress" width="0" height="0" frameborder="0")

