!!! 5
%html
  %head
    %title Uploader
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(type="text/javascript" src="js/upload.js")
    %link(rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css")
    %link(rel="stylesheet" href="css/progress.css")
  %body= block_given? && yield || "<!-- CONTENT -->"
